.README.md
.Rhistory
.RData
.Ruserdata
.Rhistory
*.pper
.Rproj.user/FAEDADB7/saved_source_markers
.Rproj.user/FAEDADB7/rmd-outputs
.Rproj.user/FAEDADB7/sources/per/t/58FF4131
.Rproj.user/FAEDADB7/sources/per/t/58FF4131-contents
.Rproj.user/FAEDADB7/sources/per/t/E47DA29D
.Rproj.user/FAEDADB7/sources/prop/78D51625
.Rproj.user/FAEDADB7/sources/per/t/E47DA29D-contents
.Rproj.user/FAEDADB7/sources/prop/DAF8D55B
.Rproj.user/FAEDADB7/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/FAEDADB7/sources/prop/36198E96
.Rproj.user/FAEDADB7/sources/prop/D1D40B2A
.Rproj.user/FAEDADB7/sources/prop/B5118B43
.Rproj.user/FAEDADB7/sources/s-4FBCBEBB/394F0D58
.Rproj.user/FAEDADB7/sources/s-4FBCBEBB/394F0D58-contents
.Rproj.user/FAEDADB7/sources/s-4FBCBEBB/EFF6970C
.Rproj.user/FAEDADB7/sources/s-4FBCBEBB/EFF6970C-contents
.Rproj.user/FAEDADB7/sources/s-4FBCBEBB/lock_file
.Rproj.user/shared/notebooks/paths
*.Rdata
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/chunks.json
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/FAEDADB7CC4F9451/chunks.json
.Rproj.user/FAEDADB7/sources/prop/D7E9E093
.Rproj.user/FAEDADB7/sources/prop/D3BC3CD4
.Rproj.user/FAEDADB7/sources/prop/D0DE79B3
.Rproj.user/FAEDADB7/sources/per/t/EFF6970C-contents
.Rproj.user/FAEDADB7/sources/per/t/EFF6970C
.Rproj.user/FAEDADB7/sources/per/t/7B82227D-contents
.Rproj.user/FAEDADB7/sources/per/t/7B82227D
.Rproj.user/FAEDADB7/sources/per/t/53E3D457-contents
.Rproj.user/FAEDADB7/sources/per/t/394F0D58-contents
.Rproj.user/FAEDADB7/sources/per/t/53E3D457
.Rproj.user/FAEDADB7/sources/per/t/394F0D58
.Rproj.user/FAEDADB7/persistent-state
.Rhistory
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cxpal2wiyuqks/000003.error
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cxpal2wiyuqks/000002.csv
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/ccu0y533bvirw/000002.snapshot
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/ccu0y533bvirw/000002.png
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/ccu0y533bvirw/000002.metadata
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cbxufg9ejvu57/000002.snapshot
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cbxufg9ejvu57/000002.png
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cbxufg9ejvu57/000002.metadata
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cbqjngvrycb30/000002.csv
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/c9nl01186xxga/000002.csv
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/c8rk11qz0ifsg/000010.csv
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/c4vy67mzjkc7y/000002.snapshot
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/c4vy67mzjkc7y/000002.png
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/c4vy67mzjkc7y/000002.metadata
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/c41d9q7fmu5ji/000002.snapshot
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/c41d9q7fmu5ji/000002.png
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/c41d9q7fmu5ji/000002.metadata
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/c2vstowfz0i69/000003.error
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/c2vstowfz0i69/000002.csv
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/FAEDADB79FB10BBF/chunks.json
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/FAEDADB79C609FB2/chunks.json
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/FAEDADB763DA924D/chunks.json
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/FAEDADB73E9345E8/chunks.json
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/c8rk11qz0ifsg/000002.csv
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/c5eut4l4qvatq/00000e.csv
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/c4hndb70iizx1/000002.csv
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/FAEDADB7558A7078/chunks.json
.Rproj.user/FAEDADB7/sources/prop/35C5B2DB
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/c7kmqjquiypei/000002.csv
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/c7kmqjquiypei/000003.error
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/ca1yox6rj5gcy/000003.metadata
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/ca73fpcxokvir/000003.metadata
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/ca73fpcxokvir/000003.png
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/ca73fpcxokvir/000003.snapshot
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/ca1yox6rj5gcy/000003.snapshot
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/ca1yox6rj5gcy/000003.png
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cf28x0b4pfbe8/000002.csv
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cizi2mymoxjr3/000005.metadata
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cizi2mymoxjr3/000005.png
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cizi2mymoxjr3/000005.snapshot
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cpeyv1yi3xy1z/000002.csv
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cvdsal0adz1om/000004.metadata
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cvdsal0adz1om/000004.png
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cvdsal0adz1om/000004.snapshot
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cwodjb18jngd1/000004.metadata
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cwodjb18jngd1/000004.png
.Rproj.user/shared/notebooks/A2FF5B9E-03-analisis/1/s/cwodjb18jngd1/000004.snapshot
